version: "3.5"

services:
  traefik:
    image: traefik:1.7-alpine
    container_name: traefik
    command:
      - "--logLevel=INFO"
      - "--defaultentrypoints=http,https"
      - "--entryPoints=Name:http Address::80 Redirect.EntryPoint:https"
      - "--entryPoints=Name:https Address::443 TLS"
      - "--docker"
      - "--docker.exposedbydefault=false"
      - "--docker.domain=example.com"
      - "--acme=false"
      - "--acme.acmelogging=true"
      - "--acme.email=webmaster@example.com"
      - "--acme.storage=acme.json"
      - "--acme.entryPoint=https"
      - "--acme.onhostrule=true"
      - "--acme.httpchallenge=true"
      - "--acme.httpchallenge.entrypoint=http"
    ports:
      - target: 80
        published: 80
        protocol: tcp
      - target: 443
        published: 443
        protocol: tcp
    volumes:
      - "./acme.json:/acme.json"
      - "/var/run/docker.sock:/var/run/docker.sock"
    restart: always

  msmtpd:
    image: crazymax/msmtpd:latest
    container_name: flarum_msmtpd
    env_file:
      - "./msmtpd.env"
    environment:
      - "TZ"
    restart: always

  jls:
    image: crazymax/jetbrains-license-server:latest
    container_name: jls
    volumes:
      - "jls:/data"
    labels:
      - "traefik.enable=true"
      - "traefik.backend=jls"
      - "traefik.port=8000"
      - "traefik.frontend.rule=Host:jls.example.com,an-other-host.example.com"
    env_file:
      - "./jls.env"
    environment:
      - "TZ"
      - "PUID"
      - "PGID"
      - "JLS_SMTP_SERVER=msmtpd"
      - "JLS_SMTP_PORT=2500"
    restart: always

volumes:
  jls:
